* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: white;

}


img{max-width: 100%;}


#chevron{font-size: 1rem;}


#green{color:lightgreen}


#topbox{
  right: 55px;
}


li{
  text-align: center;
  margin-right: 5px;
}

.flexing{

  display: flex;
  

}


header{
display: flex;
justify-content: end;
position: fixed;
width: 100%;
padding-right: 20px;
padding-top: 5px;
z-index: 345;


}



.headerbox{
  
  display: inline-block;
  background-color: darkgrey;
  margin-right: 10px;
  
  border-radius: 4px;
  padding: 5px;
  z-index: 356;
  position: absolute;
  
 

}



main{
  
  text-align: center;
  background-color: black;
  height: calc(100vh - 100px);
  overflow: auto;
  padding: 80px 80px 10px 80px ;



}




.main-box{
  position: absolute;
  top: 78%;
  
  background-color: rgba(100, 113, 127, 0.5);
  padding: 5px 5px;



  



}

.pincopallo-user

{
  position: relative;
  
  margin-bottom:15px;
  display: inline-block;
  width:260px;
  height:150px;
  
  margin-right: 4px;
  margin-bottom:12px
}


footer{

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: darkgray;
  padding-left: 10px;


}

.final-box{

  text-align: center;
  line-height: 100px;
  color: red;
  background-color: gray;

  display: inline-block;
  height: 100px;
  width: 150px;



}

ul > li > a {

  font-size: 2rem;


}